<h1><%= @place["name"] %></h1>

<h2>Journal Entries</h2>

<ul>
  <% for entry in @entries %>
    <li>
      <a href="/places/id<%= entry["id"] %>"><%= entry["title"] %></a>
      <a href="/places/id<%= entry["id"] %>"><%= entry["description"] %></a>
    </li>
  <% end %>
</ul>

<p>
  <a href="/places/<%= place["id"] %>/entries/new">New Entry</a>
</p>

<p><a href="/">Back to places</a></p>
